/* ------- Reset ------ */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body {
  background-color: #FFFFFF;
  color: #0F0F2D;
}
button {
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
}
ul {
  list-style: none;
}
/* app */
.app__header{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__header button{
  background-color: #555A88;
  color: white;
  height: 30px;
  width: 180px;
}
.app__conteiner{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  width: 100%;
}